.welcome-section {
  padding-top: 27px;
  height: calc(100vh - 27px);
  background-color: #28282e;
  position: relative;
  z-index: 0;
}
.welcome-section::before {
  content: "";
  height: 100vh;
  width: 50vw;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../../img/background.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}
.welcome-section .wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 84px);
}
.welcome-section__inner {
  max-width: 561px;
}
.welcome-section__inner-title, .welcome-section__inner-subtext {
  font-family: Dosis;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.welcome-section__inner-title {
  font-size: 5.625rem;
  line-height: 18px;
}
.welcome-section__inner-subtext {
  font-size: 3.375rem;
}
.welcome-section__inner-text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.14;
  font-weight: 400;
  line-height: 2.5;
}
.welcome-section__scroll {
  position: absolute;
  bottom: 35px;
  left: calc(50vw - 27px);
  width: 55px;
  height: 55px;
  border: none;
  padding: 9px 0 0 9px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.welcome-section__scroll img {
  transform: rotate(-45deg);
}
.welcome-section__scroll:hover {
  cursor: pointer;
  transition: ease;
}
.welcome-section__scroll:hover img {
  animation: down 2.5s infinite;
}

@keyframes down {
  0% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(-45deg);
  }
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
}
