@import url("https://fonts.googleapis.com/css?family=Dosis:500,700|Open+Sans:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #3d3d3d;
  font-weight: 400;
}
.page__container {
  max-width: 1170px;
  margin: 0 auto;
}

.line::after {
  content: "";
  display: block;
  margin-bottom: 30px;
  width: 74px;
  height: 6px;
  margin-top: 22px;
  border-radius: 3px;
  background-color: #ffffff;
}
.line_orange_medium::after {
  content: "";
  display: block;
  margin: 30px auto;
  width: 35px;
  height: 5px;
  background-color: #f16522;
}
.line_orange_medium_expirience::after {
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background-color: #f16522;
  margin: 17px 0 22px 0;
}
.line_orange_medium_margin-bottom::after {
  content: "";
  display: block;
  margin: 30px auto;
  margin-bottom: 18px;
  width: 35px;
  height: 5px;
  background-color: #f16522;
}
.line_orange_small::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #f16522;
  margin: 16px 0;
}

.welcome-section {
  padding-top: 27px;
  height: 100vh;
  background-color: #28282e;
  position: relative;
  z-index: 0;
}
.welcome-section::before {
  content: "";
  height: 100%;
  width: 50vw;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../../img/background.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}
.welcome-section .wrapper {
  display: flex;
  align-items: center;
  height: calc(100vh - 74px);
}
.welcome-section__scroll {
  position: absolute;
  bottom: 35px;
  left: calc(50vw - 27px);
  width: 55px;
  height: 55px;
  border: none;
  padding: 9px 0 0 9px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.welcome-section__scroll img {
  transform: rotate(-45deg);
}
.welcome-section__scroll:hover {
  cursor: pointer;
  transition: ease;
}
.welcome-section__scroll:hover img {
  animation: down 2.5s infinite;
}

.content {
  max-width: 561px;
  color: #ffffff;
}
.content__text {
  font-family: "Open Sans";
  font-size: 1.14;
  font-weight: 400;
  line-height: 2.5;
}
.content__text_small {
  font-size: 0.875rem;
  line-height: 2.1;
}
.content__text_margin {
  margin-bottom: 45px;
}
.content__text_medium {
  max-width: 480px;
}
.content__title, .content__subtext {
  font-family: Dosis;
  text-transform: uppercase;
  font-weight: 700;
}
.content__title {
  font-size: 5.625rem;
  line-height: 0.9;
}
.content__title_small {
  font-size: 3.125rem;
  margin-bottom: 7px;
}
.content__title_letter-space {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}
.content__subtext {
  font-size: 3.375rem;
}
.content__subtext_small {
  font-size: 1.875rem;
}
.content__link {
  display: block;
  width: fit-content;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #363636;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  border-radius: 2px;
}
.content_dark {
  color: #3d3d3d;
}
.content_expirience {
  max-width: 490px;
}
.content_padding {
  padding-top: 88px;
}
.content_center {
  text-align: center;
}
.content_margin-bottom {
  margin-bottom: 22px;
}

@keyframes down {
  0% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(-45deg);
  }
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
}
.header {
  width: 100%;
  position: absolute;
  padding: 27px 0;
  z-index: 1;
}

.page__container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation__list {
  display: flex;
  font-family: "Dosis";
}
.navigation__item a {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.navigation__item a:hover {
  text-decoration: underline;
}
.navigation__item:not(:first-child) {
  margin-left: 24px;
}

button {
  display: block;
  width: 100%;
}

.blog {
  padding: 107px 0;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}
.blog-posts__item {
  max-width: 370px;
  margin-bottom: 30px;
}
.blog .post-image {
  margin-bottom: 24px;
}
.blog .post-preview__image {
  margin-bottom: 20px;
}
.blog .post-preview__title {
  color: #000000;
  margin-bottom: 5px;
  font-weight: 600;
}
.blog .post-preview__address {
  color: #8e8e8e;
  font-size: 0.875rem;
  line-height: 24px;
}
.blog .post-preview__text {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
.blog .post-preview__read {
  font-size: 0.875rem;
  color: #f16522;
  text-decoration: none;
}
.blog .post-preview__read:hover {
  cursor: pointer;
  text-decoration: underline;
}

.load-more {
  border: none;
  background-color: transparent;
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
}
.load-more:hover {
  cursor: pointer;
}

.cross::before {
  content: "";
  display: block;
  margin: 5px 7px 0 0;
  float: left;
  background: url("../../img/cross.png");
  width: 8px;
  height: 8px;
}

.expirience {
  margin-top: 110px;
  border-top: 1px solid #e7eaed;
}
.expirience-container {
  display: flex;
  justify-content: space-between;
}
.expirience::after {
  content: "";
  display: block;
  height: 1px;
  max-width: 1450px;
  margin: 0 auto;
  background-color: #e7eaed;
}
.expirience-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 577px;
}
.expirience-item {
  min-width: 280px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expirience-item:nth-child(odd) {
  border-left: 1px solid #e7eaed;
  border-right: 1px solid #e7eaed;
}
.expirience-item:nth-child(even) {
  border-right: 1px solid #e7eaed;
}
.expirience-item:not(:nth-last-child(-n+2)) {
  border-bottom: 1px solid #e7eaed;
}
.expirience-item__image {
  margin-bottom: 44px;
}
.expirience-item__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  background-color: #e7eaed;
  padding: 67px 0 70px 0;
}

.info__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4px;
  margin-bottom: 11px;
}
.info__title_adress {
  margin-bottom: 21px;
}
.info__title_subscribe {
  margin-bottom: 26px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.policy__text, .policy__documments, .info__text, .phone, .fax, .email {
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.info__text_address {
  line-height: 1.375rem;
}

.policy__text {
  margin-bottom: 10px;
}
.policy__documments {
  color: #f16522;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-decoration: none;
}
.policy__documments:hover {
  text-decoration: underline;
}
.policy__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 1.6rem;
}

.contacts-list__item {
  line-height: 1.6875;
}

.info_address, .policy, .info_contacts {
  width: 299px;
}

.info_subscribe {
  width: 270px;
}

.phone, .fax, .email {
  display: inline-block;
  text-decoration: none;
}
.phone:hover, .fax:hover, .email:hover {
  text-decoration: underline;
}

.subscribe-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 13px 10px;
  background-color: #fff;
}
.subscribe-input__field {
  border: none;
  font-family: "Open Sans";
  color: #cdcdcd;
  font-size: 0.8125rem;
  outline: none;
  width: calc(100% - 32px);
}
.subscribe-input__field::placeholder {
  font-family: "Open Sans";
  color: #cdcdcd;
  font-size: 0.8125rem;
}
.subscribe-input__send {
  width: 32px;
  height: 20px;
  background: url("../../img/mail.png");
  border: none;
}
.subscribe-input__send:hover {
  cursor: pointer;
}
