@import url("https://fonts.googleapis.com/css?family=Dosis:500,700|Open+Sans:400,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #3d3d3d;
  font-weight: 400;
}
.page__container {
  max-width: 1170px;
  margin: 0 auto;
}

@media only screen and (max-width: 1190px) {
  .page__container {
    padding: 0 20px;
  }
}
.line::after {
  content: "";
  display: block;
  margin-bottom: 30px;
  width: 74px;
  height: 6px;
  margin-top: 22px;
  border-radius: 3px;
  background-color: #ffffff;
}
.line_orange_medium::after {
  content: "";
  display: block;
  margin: 30px auto;
  width: 35px;
  height: 5px;
  background-color: #f16522;
}
.line_orange_medium_expirience::after {
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background-color: #f16522;
  margin: 17px 0 22px 0;
}
.line_orange_medium_margin-bottom::after {
  content: "";
  display: block;
  margin: 30px auto;
  margin-bottom: 18px;
  width: 35px;
  height: 5px;
  background-color: #f16522;
}
.line_orange_small::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #f16522;
  margin: 16px 0;
}

@media only screen and (max-width: 425px) {
  .page__container {
    padding: 0 10px;
  }

  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }

  .line::after {
    content: "";
    margin: 15px 0;
  }
}
.welcome-section {
  padding: 27px 0;
  min-height: 100vh;
  background-color: #28282e;
  position: relative;
  z-index: 0;
}
.welcome-section::before {
  content: "";
  height: 100%;
  width: 50vw;
  left: 0;
  top: 0;
  position: absolute;
  background: url("../../img/background.jpg") no-repeat center;
  background-size: cover;
  z-index: -1;
}
.welcome-section .wrapper {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 74px);
}
.welcome-section__scroll {
  position: absolute;
  bottom: 35px;
  left: calc(50vw - 27px);
  width: 55px;
  height: 55px;
  border: none;
  padding: 9px 0 0 9px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.welcome-section__scroll img {
  transform: rotate(-45deg);
}
.welcome-section__scroll:hover {
  cursor: pointer;
  transition: ease;
}
.welcome-section__scroll:hover img {
  animation: down 2.5s infinite;
}

.content {
  max-width: 561px;
  color: #ffffff;
  padding: 40px 0;
}
.content__text {
  font-family: "Open Sans";
  font-size: 1.14rem;
  font-weight: 400;
  line-height: 2.5;
}
.content__text_small {
  font-size: 0.875rem;
  line-height: 2.1;
}
.content__text_margin {
  margin-bottom: 45px;
}
.content__text_medium {
  max-width: 480px;
}
.content__title, .content__subtext {
  font-family: Dosis;
  text-transform: uppercase;
  font-weight: 700;
}
.content__title {
  font-size: 5.625rem;
  line-height: 0.9;
}
.content__title_small {
  font-size: 3.125rem;
  margin-bottom: 7px;
}
.content__title_letter-space {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}
.content__subtext {
  font-size: 3.375rem;
}
.content__subtext_small {
  font-size: 1.875rem;
}
.content__link {
  display: block;
  width: fit-content;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #363636;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  border-radius: 2px;
  transition: 0.2s;
}
.content__link:hover {
  border: 1px solid #363636;
  color: #363636;
  background-color: transparent;
}
.content_dark {
  color: #3d3d3d;
}
.content_expirience {
  max-width: 490px;
}
.content_padding {
  padding-top: 88px;
}
.content_center {
  text-align: center;
}
.content_margin-bottom {
  margin-bottom: 22px;
}

@keyframes down {
  0% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(-45deg);
  }
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
}
@media only screen and (max-width: 1170px) {
  .welcome-section::before {
    content: "";
    width: 100vw;
  }

  .wrapper-menu {
    display: flex;
  }
}
@media only screen and (max-width: 425px) {
  .content__title {
    font-size: 4.625rem;
  }
  .content__subtext {
    font-size: 2rem;
  }
  .content__text {
    line-height: 1.7;
    font-size: 1.2rem;
  }

  .welcome-section__scroll {
    bottom: 20px;
    left: calc(50vw - 25px);
    width: 50px;
    height: 50px;
    padding: 8px 0 0 6px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .content__title {
    font-size: 4.625rem;
  }
  .content__subtext {
    font-size: 2.375rem;
  }
  .content__text {
    line-height: 2.3;
    font-size: 1.2rem;
  }
}
.header {
  width: 100%;
  position: fixed;
  padding: 27px 0;
  z-index: 1;
  transition: 0.2s;
}

.page__container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .header {
    padding: 14px 0;
  }
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  font-family: "Dosis";
}
.navigation__item a {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.navigation__item a:hover {
  text-decoration: underline;
}
.navigation__item:not(:first-child) {
  margin-left: 24px;
}

.mobile-nav {
  display: none;
  margin-top: 14px;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  font-family: "Dosis";
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  background: #5097ff;
}
.mobile-nav__item {
  margin: 15px;
}
.mobile-nav__item a {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.mobile-nav__item a:hover {
  text-decoration: underline;
}

.visible {
  display: block;
  animation: fadeIn 2s ease-in both;
}

@keyframes fadeIn;
from {
  opacity: 0;
  transform: translate3d(0, -20%, 0);
}

to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
button {
  display: block;
  width: 100%;
}

.wrapper-menu {
  width: 45px;
  height: 45px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper-menu::hover {
  cursor: pointer;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.scroll-top {
  position: fixed;
  display: none;
  z-index: 2;
  right: 20px;
  bottom: 100px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #51AEFE;
  transition: 0.3s;
}
.scroll-top i {
  color: #51AEFE;
  font-size: 16px;
}
.scroll-top:hover {
  cursor: pointer;
  border: 2px solid #50AFFF;
  background: #51AEFE;
}
.scroll-top:hover i {
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .wrapper-menu {
    display: flex;
  }
}
.blog {
  padding: 107px 0;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}
.blog-posts__item {
  max-width: 370px;
  margin-bottom: 30px;
}
.blog .post-image {
  margin-bottom: 24px;
}
.blog .post-preview__image {
  max-width: 100%;
  margin-bottom: 20px;
}
.blog .post-preview__title {
  color: #000000;
  margin-bottom: 5px;
  font-weight: 600;
}
.blog .post-preview__address {
  color: #8e8e8e;
  font-size: 0.875rem;
  line-height: 24px;
}
.blog .post-preview__text {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
.blog .post-preview__read {
  font-size: 0.875rem;
  color: #f16522;
  text-decoration: none;
}
.blog .post-preview__read:hover {
  cursor: pointer;
  text-decoration: underline;
}

.load-more {
  border: none;
  background-color: transparent;
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
}
.load-more:hover {
  cursor: pointer;
}

.cross::before {
  content: "";
  display: block;
  margin: 5px 7px 0 0;
  float: left;
  background: url("../../img/cross.png");
  width: 8px;
  height: 8px;
}

@media only screen and (max-width: 790px) {
  .blog {
    padding: 50px 0;
  }
  .blog-posts {
    flex-direction: column;
    align-items: center;
  }

  .content__title_small {
    font-size: 2.625rem;
  }
}
@media only screen and (min-width: 791px) and (max-width: 1165px) {
  .blog-posts {
    justify-content: center;
  }
  .blog-posts__item {
    margin-right: 20px;
  }
  .blog-posts__item:last-child {
    margin-right: 0;
  }
  .blog-posts__item:nth-child(even) {
    margin-right: 0;
  }
}
.expirience {
  margin-top: 110px;
  border-top: 1px solid #e7eaed;
}
.expirience-container {
  display: flex;
  justify-content: space-between;
}
.expirience::after {
  content: "";
  display: block;
  height: 1px;
  max-width: 1450px;
  margin: 0 auto;
  background-color: #e7eaed;
}
.expirience-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 577px;
}
.expirience-item {
  min-width: 280px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expirience-item:nth-child(odd) {
  border-left: 1px solid #e7eaed;
  border-right: 1px solid #e7eaed;
}
.expirience-item:nth-child(even) {
  border-right: 1px solid #e7eaed;
}
.expirience-item:not(:nth-last-child(-n+2)) {
  border-bottom: 1px solid #e7eaed;
}
.expirience-item__image {
  margin-bottom: 44px;
}
.expirience-item__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 599px) {
  .expirience {
    margin-top: 50px;
  }
  .expirience-container {
    display: block;
  }
  .expirience-list {
    width: 100%;
    justify-content: center;
  }
  .expirience-item {
    border: 1px solid #e7eaed;
    margin-bottom: 20px;
  }

  .content_padding {
    padding-top: 44px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1076px) {
  .expirience {
    margin-top: 50px;
  }
  .expirience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .expirience-list {
    width: 100%;
    justify-content: center;
  }
  .expirience-item:nth-child(-n+2) {
    border-top: 1px solid #e7eaed;
  }
  .expirience-item:nth-child(odd) {
    border-left: 1px solid #e7eaed;
    border-right: 1px solid #e7eaed;
  }
  .expirience-item:nth-child(even) {
    border-right: 1px solid #e7eaed;
  }
  .expirience-item:not(:nth-last-child(-n+3)) {
    border-bottom: 1px solid #e7eaed;
  }

  .content_padding {
    padding-top: 44px;
  }
}
.footer {
  background-color: #e7eaed;
  padding: 67px 0 70px 0;
}

.info__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 4px;
  margin-bottom: 11px;
}
.info__title_adress {
  margin-bottom: 21px;
}
.info__title_subscribe {
  margin-bottom: 26px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.policy__text, .policy__documments, .info__text, .phone, .fax, .email {
  color: #3d3d3d;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.info__text_address {
  line-height: 1.375rem;
}

.policy__text {
  margin-bottom: 10px;
}
.policy__documments {
  color: #f16522;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-decoration: none;
}
.policy__documments:hover {
  text-decoration: underline;
}
.policy__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 1.6rem;
}

.contacts-list__item {
  line-height: 1.6875;
}

.info_address, .policy, .info_contacts {
  width: 299px;
}

.info_subscribe {
  min-width: 270px;
}

.phone, .fax, .email {
  display: inline-block;
  text-decoration: none;
}
.phone:hover, .fax:hover, .email:hover {
  text-decoration: underline;
}

.subscribe-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 13px 10px;
  background-color: #fff;
}
.subscribe-input__field {
  border: none;
  font-family: "Open Sans";
  color: #cdcdcd;
  font-size: 0.8125rem;
  outline: none;
  width: calc(100% - 32px);
}
.subscribe-input__field::placeholder {
  font-family: "Open Sans";
  color: #cdcdcd;
  font-size: 0.8125rem;
}
.subscribe-input__send {
  width: 32px;
  height: 20px;
  background: url("../../img/mail.png");
  border: none;
}
.subscribe-input__send:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 35px 0;
  }
  .footer__info {
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
  }
  .footer__info li:last-child {
    margin-bottom: 0;
  }

  .policy, .info {
    width: 100%;
    margin-bottom: 35px;
  }

  .info__title_adress {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 921px) {
  .footer__info {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .info_address, .policy, .info_contacts {
    width: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 922px) and (max-width: 970px) {
  .info_address, .policy, .info_contacts {
    margin-right: 10px;
  }
}
