.expirience {
  margin-top: 110px;
  border-top: 1px solid #e7eaed;
}
.expirience-container {
  display: flex;
  justify-content: space-between;
}
.expirience::after {
  content: "";
  display: block;
  height: 1px;
  max-width: 1450px;
  margin: 0 auto;
  background-color: #e7eaed;
}
.expirience-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 577px;
}
.expirience-item {
  min-width: 280px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expirience-item:nth-child(odd) {
  border-left: 1px solid #e7eaed;
  border-right: 1px solid #e7eaed;
}
.expirience-item:nth-child(even) {
  border-right: 1px solid #e7eaed;
}
.expirience-item:not(:nth-last-child(-n+2)) {
  border-bottom: 1px solid #e7eaed;
}
.expirience-item__image {
  margin-bottom: 44px;
}
.expirience-item__title {
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
