.expirience 
	margin-top: 110px
	border-top: 1px solid #e7eaed
	&-container
		display: flex
		justify-content: space-between
	&::after
		content: ''
		display: block
		height: 1px
		max-width: 1450px
		margin: 0 auto
		background-color: #e7eaed
	&-list
		display: flex
		flex-wrap: wrap
		max-width: 577px
	&-item
		min-width: 280px
		min-height: 300px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		&:nth-child(odd) 
			border-left: 1px solid #e7eaed
			border-right: 1px solid #e7eaed
		&:nth-child(even) 
			border-right: 1px solid #e7eaed
		&:not(:nth-last-child(-n+2))
			border-bottom: 1px solid #e7eaed
		&__image
			margin-bottom: 44px
		&__title
			color: #3d3d3d
			font-family: Dosis
			font-size: 1rem
			font-weight: 700
			text-transform: uppercase

@media only screen and (max-width: 599px)
	.expirience
		margin-top: 50px
		&-container
			display: block
		&-list
			width: 100%
			justify-content: center
		&-item
			border: 1px solid #e7eaed
			margin-bottom: 20px
	.content_padding
		padding-top: 44px

@media only screen and (min-width: 600px) and (max-width: 1076px)
	.expirience
		margin-top: 50px
		&-container
			display: flex
			flex-wrap: wrap
			justify-content: center
		&-list
			width: 100%
			justify-content: center
		&-item
			&:nth-child(-n+2)
				border-top: 1px solid #e7eaed
			&:nth-child(odd) 
				border-left: 1px solid #e7eaed
				border-right: 1px solid #e7eaed
			&:nth-child(even) 
				border-right: 1px solid #e7eaed
			&:not(:nth-last-child(-n+3))
				border-bottom: 1px solid #e7eaed
	.content_padding
		padding-top: 44px