.blog {
  padding: 107px 0;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}
.blog-posts__item {
  max-width: 370px;
  margin-bottom: 30px;
}
.blog .post-image {
  margin-bottom: 24px;
}
.blog .post-preview__image {
  max-width: 100%;
  margin-bottom: 20px;
}
.blog .post-preview__title {
  color: #000000;
  margin-bottom: 5px;
  font-weight: 600;
}
.blog .post-preview__address {
  color: #8e8e8e;
  font-size: 0.875rem;
  line-height: 24px;
}
.blog .post-preview__text {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}
.blog .post-preview__read {
  font-size: 0.875rem;
  color: #f16522;
  text-decoration: none;
}
.blog .post-preview__read:hover {
  cursor: pointer;
  text-decoration: underline;
}

.load-more {
  border: none;
  background-color: transparent;
  color: #3d3d3d;
  font-family: Dosis;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
}
.load-more:hover {
  cursor: pointer;
}

.cross::before {
  content: "";
  display: block;
  margin: 5px 7px 0 0;
  float: left;
  background: url("../../img/cross.png");
  width: 8px;
  height: 8px;
}

@media only screen and (max-width: 790px) {
  .blog {
    padding: 50px 0;
  }
  .blog-posts {
    flex-direction: column;
    align-items: center;
  }

  .content__title_small {
    font-size: 2.625rem;
  }
}
@media only screen and (min-width: 791px) and (max-width: 1165px) {
  .blog-posts {
    justify-content: center;
  }
  .blog-posts__item {
    margin-right: 20px;
  }
  .blog-posts__item:last-child {
    margin-right: 0;
  }
  .blog-posts__item:nth-child(even) {
    margin-right: 0;
  }
}
