.navigation
	&__list
		display: flex
		font-family: 'Dosis'
	&__item
		a
			font-size: 0.75rem
			text-transform: uppercase
			font-weight: 500
			color: #ffffff
			text-decoration: none
			&:hover 
				text-decoration: underline
	&__item:not(:first-child) 
		margin-left: 24px
	