.footer
	background-color: #e7eaed
	padding: 67px 0 70px 0

.info__title 
	color: #3d3d3d
	font-family: Dosis
	font-size: 1rem
	font-weight: 700
	text-transform: uppercase
	line-height: 4px
	margin-bottom: 11px
	&_adress
		margin-bottom: 21px
	&_subscribe
		margin-bottom: 26px

.footer__info 
	display: flex
	justify-content: space-between

.policy__text, .policy__documments, .info__text, .phone, .fax, .email 
	color: #3d3d3d
	font-family: "Open Sans"
	font-size: 0.75rem
	font-weight: 400
	line-height: 1.5

.info__text_address
	line-height: 1.375rem

.policy
	&__text 
		margin-bottom: 10px
	&__documments
		color: #f16522
		font-size: 0.625rem
		text-transform: uppercase
		text-decoration: none
		&:hover 
			text-decoration: underline
	&__title 
		color: #3d3d3d
		font-family: Dosis
		font-size: 1.5rem
		font-weight: 700
		text-transform: uppercase
		line-height: 0
		margin-bottom: 1.6rem

.contacts-list__item
	line-height: 1.6875

.info_address, .policy, .info_contacts
	width: 299px

.info_subscribe 
	min-width: 270px

.phone, .fax, .email 
	display: inline-block
	text-decoration: none
	&:hover
		text-decoration: underline

.subscribe-input
	display: flex
	width: 100%
	justify-content: space-between
	padding: 13px 10px
	background-color: #fff
	&__field
		border: none
		font-family: "Open Sans"
		color: #cdcdcd
		font-size: 0.8125rem
		outline: none
		width: calc(100% - 32px)
		&::placeholder 
			font-family: "Open Sans"
			color: #cdcdcd
			font-size: 0.8125rem
	&__send
		width: 32px
		height: 20px
		background: url('../../img/mail.png') 
		border: none
		&:hover 
			cursor: pointer

@media only screen and (max-width: 767px)
	.footer
		padding: 40px 0 35px 0
		&__info
			flex-wrap: wrap
			justify-content: flex-start
			text-align: center
			li:last-child 
				margin-bottom: 0
	.policy, .info
		width: 100%
		margin-bottom: 35px
	.info__title_adress
		margin-bottom: 15px

@media only screen and (min-width: 768px) and (max-width: 921px)
	.footer__info
		flex-wrap: wrap
		justify-content: space-evenly
	.info_address, .policy, .info_contacts
		width: auto
		margin-bottom: 20px

@media only screen and (min-width: 922px) and (max-width: 970px)
	.info_address, .policy, .info_contacts
		margin-right: 10px